.headerSwiper {
  margin-top: 60px;
}

.headerSwiper .swiperWrapper {
  display: flex;
  justify-content: flex-end;
  height: 280px;
  width: 100%;
  padding: 32px 16px;
}

.headerSwiper img {
  height: 100%;
  width: auto;
  filter: drop-shadow(1px 3px 4px rgba(1, 50, 44, .5));
}

.headerSwiper .swiperWrapper .gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 280px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(245, 255, 254, 100), rgba(245, 255, 254, 0));
}

.headerSwiper .headingWrapper {
  position: absolute;
  z-index: 2;
  height: 100px;
  top: calc(50% - 50px);
  left: 16px;
  width: 80%;
}

.headerSwiper .headingWrapper .heading {
  font-family: var(--heading-font);
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.headerSwiper .headingWrapper .btnCta {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 110px;
  margin-left: 12px;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-family: var(--body-font);
  font-size: .75rem;
  font-weight: 500;
  color: var(--background-color);
}

.headerSwiper .headingWrapper .btnCta .icon {
  height: 10px;
  width: 10px;
}

.headerSwiper .headingWrapper .btnCta:hover .icon {
  animation-name: left-right;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: aternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .headerSwiper {
      margin-top: 80px;
      height: 400px;
      width: 100%;
  }

  .headerSwiper .swiperWrapper {
    height: 400px;
      padding: 32px 48px 48px 48px;
  }

  .headerSwiper .swiperWrapper .gradient {
      height: 400px;
  }

  .headerSwiper .swiperWrapper .headingWrapper {
    height: 160px;
    top: calc(50% - 75px);
    left: 48px;
    width: 80%;
  }

  .headerSwiper .swiperWrapper .headingWrapper .heading {
      font-size: 2rem;
      margin-bottom: 20px;
  }

  .headerSwiper .swiperWrapper .headingWrapper .btnCta {
      margin-left: 16px;
      padding: 10px 15px;
      font-size: .875rem;
      max-width: 135px;
  }
  
  .headerSwiper .headingWrapper .btnCta .icon {
    margin-left: 12px;
    height: 12px;
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .headerSwiper {
    margin-top: 100px;
    height: 80vh;
    width: 100%;
  }
  
  .headerSwiper .swiperWrapper {
      padding: 50px 0;
      height: 80vh;
  }

  .headerSwiper .swiperWrapper .gradient {
      height: 80vh;
  }

  .headerSwiper .swiperWrapper .headingWrapper {
    height: 200px;
    top: calc(50% - 100px);
    left: 30px;
  }

  .headerSwiper .swiperWrapper .headingWrapper .heading {
      font-size: 2.5rem;
  }

  .headerSwiper .swiperWrapper .headingWrapper .btnCta {
      margin-left: 24px;
      padding: 10px 15px;
      border-radius: 10px;
      font-size: 1rem;
      max-width: 145px;
  }
}

@media screen and (min-width: 1400px) {
  .headerSwiper .swiperWrapper {
    padding: 30px 50px;
  }

  .headerSwiper .heading-wrapper .heading {
      font-size: 3rem;
  }
}