.products .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.products .row .col {
  position: relative;
  width: 100%;
  height: auto;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: 1px 4px 10px rgba(1, 50, 44, .2);
  cursor: pointer;
  animation: fadeProduct .5s ease-in both;
}

.products .row .col:nth-child(2) {
  animation-delay: .5s;
}
.products .row .col:nth-child(3) {
  animation-delay: 1s;
}
.products .row .col:nth-child(4) {
  animation-delay: 1.5s;
}
.products .row .col:nth-child(5) {
  animation-delay: 2s;
}
.products .row .col:nth-child(6) {
  animation-delay: 2.5s;
}
.products .row .col:nth-child(7) {
  animation-delay: 3s;
}
.products .row .col:nth-child(8) {
  animation-delay: 3.5s;
}
.products .row .col:nth-child(9) {
  animation-delay: 4s;
}
.products .row .col:nth-child(10) {
  animation-delay: 4.5s;
}
.products .row .col:nth-child(11) {
  animation-delay: 5s;
}
.products .row .col:nth-child(12) {
  animation-delay: 5.5s;
}
.products .row .col:nth-child(13) {
  animation-delay: 6s;
}
.products .row .col:nth-child(14) {
  animation-delay: 6.5s;
}
.products .row .col:nth-child(15) {
  animation-delay: 7s;
}
.products .row .col:nth-child(16) {
  animation-delay: 7.5s;
}

@keyframes fadeProduct {
  from {
      opacity: 0;
      transform: translate3d(20%, 0, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

.products .col img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform .5s ease;
  filter: drop-shadow(1px 3px 4px rgba(1, 50, 44, .5));
}

.products .wrapperDetail h5 {
  text-align: center;
  font-family: var(--body-font);
  font-size: .875rem;
  margin-bottom: 24px;
}

.products .wrapperDetail h5 a {
  cursor: pointer;
  color: var(--accent-color);
}

.products .wrapperDetail h5 a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.products .wrapperDetail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: drop-shadow(1px 3px 4px rgba(1, 50, 44, .5));
}

.products .other .image {
  width: 100%;
  aspect-ratio: 1/1.2;
  filter: none;
}

.products .col .name {
  text-align: center;
  font-family: var(--body-font);
  font-size: .75rem;
  font-weight: 500;
  color: var(--primary-color);
  white-space: pre-wrap;
}

.products .col .name .icon {
  width: 6px;
  height: auto;
}

.products .gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 255, 254, .6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.products .col .other .name {
  position: absolute;
  z-index: 1;
  width: 120px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 60px);
  font-size: .825rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .products .row {
      gap: 16px;
  }
  
  .products .row .col {
      padding: 20px;
  }
  
  .products .wrapperDetail h5 {
    font-size: 1rem;
  }

  .products .col .name {
      padding-top: 24px;
      font-size: 1rem;
      font-weight: 600;
  }
  
  .products .col .name .icon {
    width: 8px;
    height: auto;
  }
  
  .products .col .other .name {
    width: 200px;
    left: calc(50% - 100px);
    padding-top: 24px;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 992px) {
  .products .row {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .products .col img:hover {
      transform: scale(1.2);
  }

  .title {
      font-size: 1.5rem;
  }

  .products .col .name {
      font-size: 1rem;
  }

  .products .col .name i {
      font-size: 2.5rem;
  }

  .products .col .other .name {
      font-size: 1.25rem;;
  }
}

@media screen and (min-width: 1400px) {
  .products .row {
    gap: 20px;
  }
  
  .products .col .name {
      font-size: 1.25rem;
  }
  
  .products .col .other .name {
      font-size: 1.5rem;;
  }
}
