.contact .wrapper {
    width: 100%;
    margin-top: 24px;
}

.contact .row {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    animation: fadeProduct .5s ease-in both;
}

.contact .row:nth-child(2) {
    animation-delay: .5s;
}
.contact .row:nth-child(3) {
    animation-delay: 1s;
}
.contact .row:nth-child(4) {
    animation-delay: 1.5s;
}
.contact .row:nth-child(5) {
    animation-delay: 2s;
}

@keyframes fadeProduct {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.contact .row label {
    font-family: var(--heading-font);
    font-size: 1rem;
    margin-bottom: 8px;
}

.contact input {
    width: 100%;
    padding: 10px;
    font-family: var(--body-font);
    font-size: .875rem;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.contact input:focus {
    color: var(--background-color);
    background-color: var(--primary-color);
    outline: var(--primary-color);
}

.contact .row textarea {
    padding: 10px;
    font-size: .875rem;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.contact .row textarea:focus {
    color: var(--background-color);
    background-color: var(--primary-color);
    outline: var(--primary-color);
}

.contact .wrapperBtn {
    margin-top: 24px;
}

.contact .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.contact .btnDisabled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.contact .btn:focus {
    background-color: var(--accent-color);
}

.contact .btn:hover {
    background-color: var(--accent-color);
}

.contact .btn .icon {
    margin-left: 8px;
}