.clients .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 1px 4px 10px rgba(1, 50, 44, .2);
}

.clients .col {
    display: flex;
    align-items: center;
}

.clients .col img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .clients .row {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .clients .row {
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding: 16px 24px;
    }
}