.container {
    height: 32px;
}

@media screen and (min-width: 768px) {
    .container {
        height: 46px;
    }   
}

@media screen and (min-width: 992px) {
    .container {
        height: 45px;
    }
}