.projects .wrapper {
    height: auto;
    width: 100%;
    transition-property: 'transform';
}

.projects .row {
    border-radius: 20px;
    margin-bottom: 24px;
    animation: fadeProduct .8s ease-in both;
}

.projects .projectSwiper {
    padding-bottom: 10px;
    border-radius: 20px;
    height: 100%;
  }

.projects .row:nth-child(2) {
    animation-delay: .8s;
}
.projects .row:nth-child(3) {
    animation-delay: 1.6s;
}
.projects .row:nth-child(4) {
    animation-delay: 2.4s;
}

@keyframes fadeProduct {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.heading {
    position: absolute;
    z-index: 2;
    bottom: 16px;
    left: 16px;
    font-family: var(--heading-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--background-color);
}

.keterangan {
    font-family: var(--body-font);
    font-size: .825rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-top: 8px;
}

.wrapperImage img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.wrapperImage:hover .gradient, .wrapperImage:hover img {
    transform: scale(1.1);
}

.projects .wrapperImage {
    position: relative;
    width: 100%;
    height: 180px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 4px 10px rgba(1, 50, 44, .4);
}

.gradient {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(1, 50, 44, 0), rgba(1, 50, 44, .7));
  }

@media screen and (min-width: 768px) {
    .projects .row {
        margin-bottom: 32px;
    }

    .projects .wrapperImage {
        height: 280px;
    }

    .heading {
        font-size: 1.25rem;
        left: 32px;
        margin-bottom: 12px;
    }

    .keterangan {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {  
    .projects .projectSwiper {
        padding: 0;
        height: 380px;
    }

    .projects .wrapperImage {
        height: 380px;
    }

    .heading {
        font-size: 1.5rem;
    }
    
    .row:hover {
        transform: scale(1.2);
    }
}

@media screen and (min-width: 1400px) {
    .projects .projectSwiper {
        height: 480px;
    }

    .projects .wrapperImage {
        height: 480px;
    }
}