@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Merriweather:wght@300;900&family=Open+Sans:wght@700&family=Prompt:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #01322C;
    --accent-color: #449DA1;
    --secondary-color: #d86a03;
    --background-color: #F5FFFE;

    --heading-font: 'Merriweather Sans', sans-serif;
    --body-font: 'Prompt', sans-serif;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: .4s ease-in-out;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

header {
    padding-top: 36px;
}

section {
    padding-top: 46px;
}

.container {
  margin: 0 16px;
}

.wrapper-title {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.title {
  display:inline-block;
  position:relative;
  text-align: center;
  font-family: var(--heading-font);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color);
}

.title::after {
  content: '';
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left:calc(50% - 25%);
  border-bottom: 3px solid var(--primary-color);
}

/* start menu */
.navbar.sticky {
  background-color: var(--primary-color);
  height: 50px;
}
  
.navbar.sticky .logo {
  height: 1.5rem;
}

.navbar.sticky .logo .logo-color {
  display: none;
}
  
.navbar.sticky .toggleMenu {
  width: 24px;
  height: auto;
}

.navbar .logo .logo-white {
  display: none;
}

.navbar.sticky .logo .logo-white {
  display: block;
}

.headerSwiper .swiper-slide.swiper-slide-active .headingWrapper {
  animation: fadeHeader ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}

@keyframes fadeHeader {
  0% {
      opacity: 0;
      top: -.5rem;
  }
  100% {
      opacity: 1
  }
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  opacity: .8 !important;
  background: var(--background-color) !important;
  filter: drop-shadow(0 4px 5px rgba(1, 50, 44, .4)) !important;
  }
  
  .swiper-pagination-bullet-active {
    background: var(--accent-color) !important;
  }

@media screen and (max-width: 991px) {
  .menu {
      position: fixed;
      z-index: 10;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom, var(--primary-color), var(--accent-color));
      clip-path: circle(0.0% at 100% 0);
  }
  
  .menu.active {
      clip-path: circle(141.2% at 100% 0);
  }
  
  .menu .btn-close {
      position: absolute;
      top: 19px;
      right: 16px;
  }
  
  .menu .navItem {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

.navLink {
  margin: 6px 20px 20px 20px;
  font-family: var(--heading-font);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--background-color);
  display: inline;
  position: relative;
}

.navLink.active {
  font-weight: 700;
}

.navLink.active::after {
  content: '';
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 25%);
  border-bottom: 3px solid var(--background-color);
}

/* end menu */

@media screen and (min-width: 768px) {
  section {
      padding-top: 56px;
  }

  .container {
    margin: 0 24px;
  }

  .navbar.sticky {
    height: 64px;
  }

  .navbar.sticky .logo {
      height: 2.2rem;
  }
  
  .navbar.sticky .toggleMenu {
    width: 28px;
    height: auto;
  }

  .wrapper-title {
    margin-bottom: 32px;
  }

  .title {
      font-size: 1.5rem;
  }

  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
  }
}

@media screen and (min-width: 992px) {
  section {
      padding-top: 86px;
  }

  .container {
    margin: 0 100px;
  }

  .navbar.sticky {
    height: 80px;
  }

  .navItem {
    display: flex;
  }

  .navLink {
    color: var(--primary-color);
  }

  .navbar.sticky .navLink {
    color: var(--background-color);
  }

  .navbar.sticky .navLink.active::after {
      border-bottom: 3px solid var(--background-color);
  }

  .navLink.active::after {
    border-bottom: 3px solid var(--primary-color);
  }
  
  .navItem .navLink:hover {
    font-weight: 700;
  }

  .menu .btn-close {
    display: none;
  }

  .wrapper-title {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    margin: 0 250px;
  }

  .wrapper-title {
    margin-bottom: 56px;
  }

  .title {
      font-size: 2rem;
  }
}